@media screen and (min-width: 800px) {  
  .grid-container-x {
    display: grid;
    grid-gap: 0;
    background-color: #aaa;
    padding: 0;
  }

  .grid-item-x {
    background-color: rgba(255, 255, 255, 0.8);
    xtext-align: center;
    padding: 0 20px 0 20px;
  }

  .item1 {
    grid-column: 2 / span 2;
    grid-row: 1;
  }

  .item2 {
    grid-column: 1;
    grid-row: 2 / span 1;
  }

  .item5 {
    grid-column: 1;
    grid-row: 1 / span 1;
  }

  .item6 {
    grid-column: 1;
    grid-row: 3 / span 1;
  }

  .item7 {
    grid-column: 1;
    grid-row: 4 / span 1;
  }

  .item8 {
    grid-column: 2 / span 2;
   grid-row: 3 / span 1;
  }    
}


.text-center {
  text-align: center;
}


.grey-h {
  background-color: #bdc3c7;
}

