<!DOCTYPE html>
<!-- Techie Tuts website copyright 2020-->
<html lang="en">
                <!-- Head module inserted below -->
        {% include head.html %}
    
  <body class="animsition">
	  
		<!-- Header module inserted below -->
        {% include header.html %}
	  
		<!-- Content -->
        {{ content }}
		

                <!-- footer module inserted below -->
        {% include footer.html %}            


                <!-- Scripts module inserted below -->
        {% include javascripts.html %}            
      
  </body>
</html>
